*{
    padding: 0;
    margin: 0;
    text-decoration: none;
   
}
/*header css*/
.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:30px ;
    padding-right: 30px; 
    font-size: 18px;
}
.header logo{
    width: 100px;
}
.nav_menu a{
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    justify-content: space-between;
}
.nav_menu a:hover{
    color: chocolate;
    text-decoration: underline;
}
.icons i{
    color: white;
    font-size: 30px;
}
.icons i:hover{
    color: chocolate;
}
             
.home{
    background-image: url(images/home-img.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: black;
}
.home h2{
    color: white;
    text-align: center;
    font-size: 30px;
}
.home h2 span{
    color: chocolate;
}
.home .main{
    margin-left: 5%;
    margin-top: 5%;
}

.home h1{
    color: white;
    text-decoration: none;
   font-size: 50px;

}
.home p{
    color: white;
    font-size: 25px;
}

.home button{
    color: white;
    background-color: chocolate;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 20px;
    cursor: pointer;
    max-width: 60rem;
}
.About{
    background-color: black;
}
.About h1{
color: white;
text-align: center;
font-size: 30px;
}
.About h1 span{
    color: chocolate;
}
.About .main{
    display: flex;
}
.About .box2{
background-color:gray;
color: white;
padding: 205px 3rem;
height: 15vh;
}
.About .box2 h3{
    text-align: center;
}
.About .box2 p{
    text-align: center;
    font-size:15px;
}
.About .box2 button{
    color: white;
    background-color: chocolate;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
.menu{
    background-color: black;
}

.menu h1{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
}
.menu h1 span{
    color: chocolate;
}
.main_menu{
    display: flex;
    color: white;
    background-color: black;
}
.menu_box1{
    background-color: black;
    border: 1px solid white;
    padding: 3rem 3rem;
    text-align: center;
}
.menu_box1:hover{
background-color: white;
}
.menu_box1 h2{
    color: white;
}
.menu_box1 h3{
    color: white;
    font-size: 30px;
}
.menu .menu_box1 h3 span{
    font-size: 18px;
    text-decoration: line-through;
}
.menu_box1 button{
    background-color: chocolate;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 18px;
    cursor: pointer;

}
.products{
    background-color: black;
}

.products .main{
   display: flex;
   justify-content: space-between;
   margin-left: 10%;
   margin-right:10% ;
}
.products h1{
    color: white;
    text-align: center;
    font-size: 30px;
}
.products h1 span{
    color: chocolate;
}
.box .price{
    color: white;
}
.box .icons i{
    color:white;
    font-size: 25px;
    background-color: transparent;
}
.box .icons i:hover{
    color: white;
    background-color: chocolate;
}
.box h3{
    color: white;
}
.box .star i{
    color:chocolate;
}
.box .price h3 span{
    text-decoration:line-through
}

.review{
    background-color: black;
border: 15px;
}
.review h1{
    text-align: center;
    color: white;
    font-size: 30px;
}
.review h1 span{
    color: chocolate;
}
.review .box{
    align-items: center;
 }
 .review .box p{
    color: white;
 }
 .review .box .img{
    text-align: center;
 }
.box .box1 img{
    border-radius: 300px;
    border-image: 10px;
 }
 .review .box h3{
  margin-left: 20%;
 }
 .review .box i{
 color: chocolate;
 }
.box-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 10%;
    margin-right:10% ;
}
.contact{
    background-color: black;
}
.contact h1{
    color: white;
    text-align: center;
}
.contact h1 span{
    color:chocolate;
}
.Box{
    display: flex;
}
.contact .Box .row iframe{
    height: 75vh;
    width: 35%;
}
.contact .Box .heading h3{
color:white;
font-size: 30px;
}
.contact .Box .heading .inputBox{
    align-items: center;
font-size: 30px;
padding: 2rem 2rem;
}
.contact .Box .heading .inputBox .button{
    color: chocolate;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.heading{
    background-color: gray;
    height: 75vh;
    width: 35%;
}
.inputBox span{
    color: white;
}
.blogs{
    background-color: black;
}
.blogs .main{
    display: flex;
    justify-content: space-between;
    margin-left:25px;
    margin-right:25px;
}
.blogs h1{
    color: white;
    text-align: center;
    font-size: 30px;
}
.blogs h1 span{
    color: chocolate;
}
.blogs .main .box .image{
    overflow:hidden;
    width: 100%;
}
.blogs .main .content a{
    color: white;
}
.blogs .main .content span{
    color: chocolate;
}
.blogs .main .content p{
    color: white;
    font-size: 15px;
}
.blogs .main .content button{
    background-color: chocolate;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.footer .share{
    text-align: center;
}
.footer .links{
    text-align: center;
}
.footer{
    background-color:gray;
    height:25vh;
}
.footer .share a{ 
    align-items: center;
   color: white;
   height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}
.footer .share a:hover{
    color:white;
    background-color: chocolate;
}

.footer .links a{
    color: white;
    padding:.7rem 2rem;
}
.footer .links a:hover{
    color:white;
    background-color: chocolate;
}
